.navbar {
  /* outline: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1112px;
  height: 90px;
  margin: 0 auto;
  position: fixed;
  left: 125px;
  z-index: 10;
  background-color: #fff;
}

.leftMenu img {
  visibility: hidden;
}

.leftMenu {
  /* outline: 2px solid green; */
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.shopName {
  /* outline: 2px solid red; */
  width: 150px;
}

.middleMenu {
  /* outline: 2px solid blue; */
  display: flex;
  align-items: center;
  margin-right: 250px;
}

.middleMenu ul {
  list-style-type: none;
}

.middleMenu ul li {
  display: inline-block;
  padding: 25px 20px;
  /* border-bottom: 2px solid #ff7d1b; */
}

.rightMenu {
  /* outline: 2px solid red; */
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.cart {
  display: flex;
  /* outline: 2px solid red; */
  /* width: 50px; */
}

.producttracker {
  width: 19px;
  height: 13px;
  background-color: #ff7d1b;
  border-radius: 6px;
  font-size: 5px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -12px;
  top: -5px;
  /* visibility: hidden; */
}

/* Mobile view */
@media screen and (max-width: 375px) {
  .navbar {
    /* outline: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 67px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10px;
    background-color: #fff;
  }

  .leftMenu {
    /* outline: 2px solid red; */
    width: 179px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .leftMenu img {
    visibility: visible;
  }

  .shopName {
    /* outline: 2px solid blue; */
    width: 110px;
    margin-right: -20px;
  }

  .middleMenu {
    display: none;
  }

  .rightMenu {
    /* outline: 2px solid red; */
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .avatar {
    display: flex;
    /* outline: 2px solid green; */
    margin-right: 15px;
  }

  .producttracker {
    width: 19px;
    height: 13px;
    background-color: #ff7d1b;
    border-radius: 6px;
    font-size: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -12px;
    top: -5px;
    /* visibility: hidden; */
  }
}
