.productinfo {
  /* outline: 2px solid green; */
  width: 100%;
  height: 444px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.shopname {
  /* outline: 2px solid red; */
  width: 326px;
  text-align: left;
  font-size: 10px;
  color: #ff7d1b;
  padding-top: 10px;
  margin-top: 10px;
}
.productname {
  /* outline: 2px solid red; */
  width: 326px;
  text-align: left;
  font-size: 30px;
  font-weight: 700;
}
.productdescription {
  /* outline: 2px solid red; */
  width: 326px;
  height: 92px;
  text-align: left;
}
.productprice {
  /* outline: 2px solid red; */
  width: 326px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newprice {
  /* outline: 2px solid red; */
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18.5px;
}

.oldprice {
  /* outline: 2px solid red; */
  width: 80px;
  height: 40px;
}

.oldprice p {
  margin-top: 5px;
  color: #b8b8c0;
  font-size: 20px;
  font-weight: 600;
}
.line {
  position: relative;
  top: -12px;
  width: 75px;
  left: 2px;
  border-color: #b8b8c057;
}
.discount {
  /* outline: 2px solid red; */
  width: 50px;
  height: 25px;
  border-radius: 8px;
  background-color: #ffefdf;
  color: #ff7d1b;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productnumber {
  /* outline: 2px solid red; */
  width: 326px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f8fd;
  border-radius: 12px;
}
.productcart {
  /* outline: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 326px;
  height: 56px;
  background-color: #ff7d1b;
  border-radius: 12px;
  color: #fff;
  font-weight: 700;
}

.productcartinner {
  /* outline: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 120px;
}

.discard {
  /* outline: 2px solid red; */
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.display {
  /* outline: 2px solid red; */
  width: 65px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add {
  /* outline: 2px solid red; */
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
