*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

/* for mobile view */
@media screen and (max-width: 428px) {
  .App {
    /* outline: 2px solid red; */
    text-align: center;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 375px) {
  .App {
    /* outline: 2px solid red; */
    text-align: center;
    overflow-x: hidden;
  }
}
@media screen and (max-width: 414px) {
  .App {
    /* outline: 2px solid red; */
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
    
  }
}

@media screen and (max-width: 390px) {
  .App {
    /* outline: 2px solid red; */
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
      
  }
}

@media screen and (max-width: 360px) {
  .App {
    /* outline: 2px solid red; */
    text-align: center;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 320px) {
  .App {
    /* outline: 2px solid red; */
    text-align: center;
    overflow-x: hidden;
  }
}